<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>

    <h1>Your random number is: <%= randInt %></h1>
    <% if (randInt % 2 == 0) { %>
        <h2>That is an even number</h2>
    
    <% } else { %>
        <h2>That is an odd number</h2>
    <% } %>

    <h3>That number is: <%= randInt % 2 == 0 ? 'EVEN' : 'ODD' %></h3>
</body>
<%- include('partials/footer.ejs') %>